<header>
  <a class="logo" href="/">
    <img src="/public/logo.png" alt="logo" />
  </a>
  <ul class="menus">
    <li>
      <a href="/">Home</a>
    </li>
    <li class="loggedOut">
      <a href="/account/create">Signup</a>
    </li>
    <li class="loggedOut">
      <a href="/session/create">Login</a>
    </li>
    <li class="loggedIn">
      <a href="/checks/all">Dashboard</a>
    </li>
    <li class="loggedIn">
      <a href="/account/edit">Account Settings</a>
    </li>
    <li class="loggedIn">
      <a id="logOutBtn" href="#">Logout</a>
    </li>
  </ul>
</header>
